body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  z-index: 1;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.navbar:not(.top-nav-collapse) {
  background: #3492D3 ;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3492D3;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3492D3 ;
  }
}

.SM {
  display: flex;
  justify-content: flex-end;
  margin: 15px;
  padding: 0;
}

.phone-number {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin: 15px;
  padding: 0;
}

.cards {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a deeper shadow */
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.footer {
  background-color: #3492D3;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
